.idea/*
server_utils/db_driver/cred
venv/
*_pids.txt
nlp_models/temp
scrapers/chromedriver.exe
__pycache__
scrapers/web_scraper/integration/server_api_build/
scrapers/web_scraper/integration/scrapers_build/
scrapers/web_scraper/integration/scheduler/
scrapers/web_scraper/integration/nlp_models/
*.tar
scrapers/web_scraper/integration/image_id.txt
backup/
git_db/api-data/